
*,
*:before,
*:after
  box-sizing: border-box
  margin 0

html
  height 100%
body
  height 100%
  border 1px solid $color-Danger

.el-header,
.el-main,
.el-footer
  width 1190px
  margin 0 auto
  padding 0
  overflow unset
