
*,
*:before,
*:after
  box-sizing: border-box
  margin 0

html
  height 100%
body
  height 100%


.el-header,
.el-main,
.el-footer
  width 100%
  margin 0 auto
  padding 0
  overflow unset
  text-align center

.el-footer
  height 100%


.el-backtop
  box-shadow 0 0 10px rgba(0,0,0,.6)
