
@media only screen and (max-width:767px)
    // .hidden-xs-only


@media only screen and (min-width:768px)
    // .hidden-sm-and-up



@media only screen and (min-width:768px) and (max-width:991px)
    // .hidden-sm-only



@media only screen and (max-width:991px)
    // .hidden-sm-and-down




@media only screen and (min-width:992px)
    // .hidden-md-and-up




@media only screen and (min-width:992px) and (max-width:1199px)
    // .hidden-md-only




@media only screen and (max-width:1199px)
    // .hidden-md-and-down



@media only screen and (min-width:1200px)
    // .hidden-lg-and-up


@media only screen and (min-width:1200px) and (max-width:1919px)
    // .hidden-lg-only
    .page-index
      .field
        display flex

@media only screen and (max-width:1919px)
    // .hidden-lg-and-down


@media only screen and (min-width:1920px)
    // .hidden-xl-only
    .el-header,
    .el-main,
    .el-footer
      width 1200px !important
      .page-index
        .field
          display flex
